*{
    margin: 0;
    padding: 0;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 900px
}

nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(161,44,141,1) 0%, rgba(207,91,187,1) 30%, rgba(241,154,226,1) 49%, rgba(207,91,187,1) 66%, rgba(161,44,141,1) 85%);
    padding: 10px;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(161,44,141,1) 0%, rgba(207,91,187,1) 30%, rgba(241,154,226,1) 49%, rgba(207,91,187,1) 66%, rgba(161,44,141,1) 85%);
}

header{
    background-color:blueviolet;
    padding-top: 70px;
    padding-bottom: 25px;
    position: relative;
}