*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav#menu ul{
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    top: 60px;
    left: 900px
}

nav#menu{
    display: block;
}

nav#menu li{
    display: inline-block;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(161,44,141,1) 0%, rgba(207,91,187,1) 30%, rgba(241,154,226,1) 49%, rgba(207,91,187,1) 66%, rgba(161,44,141,1) 85%);
    padding: 10px;
}

body{
    background-color: blueviolet;
}

header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(161,44,141,1) 0%, rgba(207,91,187,1) 30%, rgba(241,154,226,1) 49%, rgba(207,91,187,1) 66%, rgba(161,44,141,1) 85%);
    padding-top: 70px;
    padding-bottom: 25px;
    position: relative;
}

/*Pseudoclasses para estilização de menu de navegação*/
nav#menu a:link{
    text-decoration: none;
    color:blueviolet;
    font-weight: bold;
}

nav#menu a:visited{
    text-decoration: none;
    color:blueviolet;
    font-weight: bold;
}

nav#menu a:hover{
   color:rgb(59, 4, 110);
}

nav#menu li:hover{
    background: rgb(1, 0, 19);
    background: linear-gradient(90deg, rgba(1,0,19,1) 0%, rgb(136, 37, 119) 0%, rgb(182, 79, 165) 30%, rgb(182, 79, 165) 49%, rgb(150, 45, 132) 66%, rgb(110, 30, 97) 85%);
}

/*Manipulação de imagens do progeto, na página de produtos*/
.produtos img{
    max-width: 300px;
}

.produtos p{
    color: white;
}

.precoDesc{
    font-size: 25px;
}